
@{
}


<!-- REQUIREMENTS:
    This page will list out all of the appointments that have been
    made. Each appointment should have an option to Edit or Delete that appointment.
-->

@model List<Tour>

<table class="table table-sm table-striped table-bordered">
    <thead class="font-weight-bold">
        <tr>
            <!--<td>Date</td>-->
            <td>Date</td>
            <td>Group Name</td>
            <td>Size of Group</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Time</td>
        </tr>
    </thead>


    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <!-- Got rid of the x.Date b/c don't need it'-->
            <td>@x.GroupName</td>
            <td>@x.GroupSize</td>
            <td>@x.Email</td>
            <td>@x.Phone</td>
            <td>@x.AvailableTimes.TimeSlot </td>


            <!--EDIT BUTTON FOR FUTURE USE-->

            <td><a asp-controller="Home" asp-action="Edit" asp-route-groupid="@x.GroupId">Edit</a></td>

            <!-- <td><a asp-controller="Home" asp-action="Delete" asp-route-formid="@x.">Delete</a></td> -->


        </tr>
        }
        
    </tbody>

</table>


